.icon-container {
  height: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-check-input:checked {
  border-color: #333 !important;
}

.form-check-input:focus, .form-select:focus {
  border-color: #ccc !important;
  box-shadow: 0 0 0 .25rem rgba(255, 199, 28, .25);
}

::ng-deep .ngx-slider {
  margin-top: 0 !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #ffc71c !important;
}

::ng-deep .ngx-slider .ngx-slider-selection {
  background: #ffc71c !important;
}

::ng-deep .ngx-slider .ngx-slider-bar {
  background: #333333 !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: #333333 !important;
}

::ng-deep .ngx-slider .ngx-slider-bubble {
  top: 20px;
}