.card {
  background-color: var(--card-background);
  border: none;
}

.dimensions {
  height: 200px;
  object-fit: contain;
}

.btn-details {
  margin: 0 auto;
  width: 50%;
  font-weight: 500;
}

.btn-details:hover .details-icon {
  content: url('../../../assets/info-24px-hover.svg');
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 45px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.scroll-top-btn img {
  width: 100%;
  height: 100%;
}

.scroll-top-btn.hidden {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .card {
    max-width: 300px;
  }
}

@media only screen and (max-width: 450px) {
  .btn-details {
    width: 80%;
  }
}