.img-width {
  width: 30vw;
}



@media only screen and (min-width: 1000px) {
  .margin-top {
    margin-top: -5vw;
  }
}

@media only screen and (max-width: 768px) {
  .img-width {
    width: 35vw;
  }
}